@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{

  @media (max-width: 640px) {
    .side-bar {
      @apply bg-slate-50 mt-3 ml-6 h-8 rounded-2xl items-center justify-start sticky  
      transition-all duration-500 ease-in-out w-auto flex ;
  transition: 0.5s;
  padding-top: 0.5px;
  }
  .text{
    @apply items-center
  }
  
  .side-bar-icons{
  @apply h-8 w-8 ml-9 mr-4 mx-auto hover:bg-gray-500 hover:rounded-lg cursor-pointer 
  }
  .aboutme{
  @apply top-48 relative
}
  .left-margin{
    @apply ml-8
  }
  .t-width{
    width: 20rem;
  }
  .scr{
    @apply h-full
  }
  .card-margin{
    @apply ml-0
  }
  .bg-position{
    @apply bg-bottom
  }
}

@media (min-width: 641px) {
    .side-bar {
      @apply bg-slate-50 ml-6 rounded-2xl h-60 items-center justify-center sticky mt-60 
      transition-all duration-500 ease-in-out w-12;
transition: 0.5s;
padding-top: 0.5px;
}

.side-bar-icons{
@apply h-8 w-8 mt-6 mb-4 mx-auto hover:bg-gray-500 hover:rounded-lg cursor-pointer
}
.aboutme{
  @apply left-36 top-48 relative
}
.text{
  @apply items-start
}
.left-margin{
  @apply ml-32
}
.t-width{
  width: 35rem;
}
.scr-length{
  @apply h-screen
}
.card-margin{
  @apply ml-56
}
.bg-position{
  @apply bg-center
}
}
  .side-bar-info{
    @apply absolute p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-800 text-xs font-bold transition-all duration-100 origin-left scale-0
  }
  
}